body {
    background-color: rgb(36, 35, 40);
    color: #fff;
    font-family: "Inter", sans-serif;
    height: 100%;
    margin: 0;
}

input {
    background-color: #464656;
    border: none;
    height: 25px;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    padding: 5px
}

input:focus {
    border: none;
    outline: none;
    background-color: #3f3f4e;
}

button {
    background-color: #25252d;
    border: none;
    height: auto;
    width: auto;
    border-radius: 10px;
    margin: 10px;
    color: #fff;
    padding: 10px
}

button:hover {
    outline: #82829c solid 1px;
}

button:active {
    background-color: #3f3f4e;
}

code {
    background-color: #25252a;
    padding: 5px;
    border-radius: 3px;
    margin-top: 6px;
    white-space: pre-wrap;
    line-height: 1.5;
    overflow: auto;
}